<template name="about">
	<div class="container" id="aboutStuff">
		<div class="row">
			<div class="col s12 m4 l2">
			<img id="profilePic" src="https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpt1/t31.0-8/11181238_466198560222124_2073819939763013878_o.jpg">
			</div>

			<div class="col s12 m8 l10">
			<b>Hello! My name is Rohit Falor and I am a 17 year old living in California, USA.</b> I created this website to help you easily find Falor family members. If you have any suggestions or concerns, or just want to reach out, email me at <a href="mailto:rohitfalor@outlook.com?Subject=Falor Directory" target="_top">rohitfalor@outlook.com</a>!
			</div>
		</div>
	</div>
</template>